; new FS pipe
[SimConnect]
Protocol=Pipe
Port=Custom/SimConnect
Address=127.0.0.1

; Automatic detection, backward compatible with FSX
[SimConnect.1]
Protocol=Auto
Address=
Port=
MaxReceiveSize=
DisableNagle=